{% extends 'base.html' %}
{% block title %} Line chart {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add Inventories
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add A New Inventory</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{url_for('inventories')}}">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Name</label>
                          <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Type</label>
                            <select class="form-control" name="type" id="exampleFormControlSelect1">
                              <option>Vegetable</option>
                              <option>Fruits</option>
                            </select>
                          </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Buying Price</label>
                          <input type="number" class="form-control" name="buying_price" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Selling Price</label>
                            <input type="number" class="form-control" name="selling_price" id="exampleInputPassword1">
                          </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>

        <!-- display table  -->
        <table class="table mt-5">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Buying Price</th>
            <th scope="col">Selling Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for each in inventories %}
            <tr>
            <td>{{each.id}}</td>
            <td>{{each.name}}</td>
            <td>{{each.type}}</td>
            <td>{{each.buying_price}}</td>
            <td>{{each.selling_price}}</td>
            <td>
              {% for st in available_stock %}
                  {% if st[0] == each.id %}
                      {{ st[1] }}
                  {% endif %}
              {% endfor %}
            </td>
            <td>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addstock">Add Stock</button>
                <!--add stock modal  -->

                <div class="modal fade" id="addstock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Stock</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form method="post" action="{{url_for('add_stock', id = each.id)}}">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Stock</label>
                            <input type="number" class="form-control" name="stock" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#makesale">Make Sale</button>
                <!-- make sale modal -->
                  <div class="modal fade" id="makesale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Make Sale</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method="post" action="{{url_for('make_sale', id= each.id)}}">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Quantity</label>
                              <input type="number" class="form-control" name="quantity" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>

                <a href="{{url_for('viewsales', id=each.id)}}"><button type="button" class="btn btn-warning">View Sales</button></a>

                <!-- edit an inventory -->
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editInventory{{each.id}}">Edit Inventory</button>
                
                <!-- modal class for edit -->

                <div class="modal fade" id="editInventory{{ each.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit employee {{ each.id }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/inventories/update/{{ each.id }}" method="post">
                            <div class="form-group">
                                    <label for="fullName">Name</label>
                                    <input value="{{ each.name }}" type="text" name="name" class="form-control form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="type">Type</label>
                                <select name="newtype" class="form-control form-control-sm" required>
                                    <option selected >{{ each.type }}</option>
                                    <option value="v">Vegetable</option>
                                    <option value="F">Fruit</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="buying_price">Buying Price</label>
                                <input value="{{ each.buying_price }}" type="number" name="buying_price" class="form-control form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Selling Price</label>
                                <input value="{{ each.selling_price }}" type="number" name="selling_price" class="form-control form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-success">Submit</button>
                            </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>

                <!-- delete button -->

                <a href="{{url_for('deleteInventory', id= each.id)}}"><button type="button" class="btn btn-danger">Delete</button></a>
            </td>
            </tr>
            {%endfor%}
        </tbody>
        </table>
    </div>
{% endblock %}
{% block footer %} {% endblock %}